<div class="it-card">
    <a href="#" target="_blank"><div class="it-card__head" style="background-image: url(@@img);"></div></a>
    <div class="it-card__body">
        <p class="it-card__text">@@text</p>
        <a href="#" class="it-card__programm" target="_blank">Посмотреть программу</a>
        <a href="#" class="it-card__link @@disabled" target="_blank">Посмотреть вебинар</a>
        <a href="#" class="it-card__wattsup" target="_blank">Обсудить вебинар с авторами курса</a>
    </div>
</div>