<section class="it-intro">
    <div class="it-wrapper">
        <div href="#" class="it-intro-box">
            <a href="#" class="it-intro__link">
                <p class="intro__item__title">Рабочая программа</p>
                <p class="intro__item__bottom">Наносемантика</p>
            </a>
            <a href="#" class="it-intro__link">
                <p class="intro__item__title">Наносемантика</p>
                <p class="intro__item__bottom">ИТМО</p>
            </a>
        </div>
    </div>
</section>