<section class="it-menu">
    <div class="it-wrapper">
        <div class="it-menu-box">
            <div class="menu-box__item">
                <a href="#" class="menu-box__link">Учебные пособия</a>
                <a href="#" class="menu-box__link">Рекомендуемое МТО</a>
            </div>
            <div class="menu-box__item">
                <a href="#" class="menu-box__link">Уроки МЭШ</a>
                <a href="#" class="menu-box__link">Рекомендуемое ПО</a>
            </div>
        </div>
    </div>
</section>